
<section id="about" class="col-xs-12 about-me text-center">
  <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
    <h2 class="headline">
      I am a Software Developer with a background in Search Engine Optimisation [SEO]
    </h2>
    <br>
    <p>
      My interest in programming and web development sparked the first moment I was exposed to the code during my SEO times. It all started with optimising H1 tags in raw HTML.
    </p>
    <br>
    <p>
      Gradually my interest grew so I decided to attend an online coding bootcamp and learn how to think like a developer and how to write good code.
    </p>
    <br>
    <p>
      With my solid foundation in SEO and my web development skills, search optimisation is a first class citizen to all projects.
    </p>
  </div>
</section>
<!-- Picture and Factsheet -->
<section class="col-xs-12 picture text-center">
  <img class="img-responsive center-block" src="assets/images/aleks_gorbenko.jpg" alt="Aleks Gorbenko">
  <br>
  <br>
  <p>My life and work ethic are summed up in a single Stoic maxim that I live by every day:</p>
  <p class="life-quote animated fadeIn">
    “Impediment to action advances action, what stands in the way become the way”
  </p>

  <a href="https://aleksgorbenko.com" title="AleksGorbenko.com Personal Blog" class="btn btn-inversed">Check My Blog</a>
  <br>
  <br>
  <p>If You Want To Learn More</p>
  <br>
  <h2 class="headline">
    Here are a few other things about me:
  </h2>

  <div class="col-xs-12 col-sm-12 col-md-10 col-md-offset-1">
    <ul>
      <li>I like playing chess and reading poetry.</li>
      <li>My favourite fiction book: <a href="https://en.wikipedia.org/wiki/Space_Odyssey">Arthur C. Clarke's "Space Odyssey"</a> series.</li>
      <li>Non-fiction book: <a href="https://en.wikipedia.org/wiki/Meditations">“Meditations" by Marcus Aurelius</a>.</li>
      <li>I admire engraving works of <a href="https://en.wikipedia.org/wiki/Gustave_Dor%C3%A9">Gustave Doré</a> and <a href="https://en.wikipedia.org/wiki/Albrecht_D%C3%BCrer">Albrecht Dürer</a>.</li>
      <li>I am a dreamer in my time off. At work, I execute and get things done.</li>
      <li>I actively look for negative feedback as I think this is one of the fastest ways to learn.</li>
      <li>It is about the result. It is not about who gets the credit. Actually, a team should get it.</li>
      <li>There must be a strategy. If there isn’t any, the next step before anything else should be to devise one.</li>
      <li>Oh, I also speak geek.</li>
      <li>:)</li>
    </ul>
  </div>
</section>