
<section class="col-xs-12 contact-line text-center">
  <p>
    Would you like to work together?
  </p>

  <a id="contact" class="btn btn-default" href="mailto:AleksEdGorbenko@gmail.com?subject=Hi Aleks, ..." "email me">Get In Touch</a>
</section>
<!-- Footer -->
<footer class="col-xs-12 footer text-center">

  <div class="bottom-logo">
    <span>{a_g}</span>
    <p>aleks gorbenko</p>
  </div>

  <div class="cols-xs-8 col-md-4 col-md-offset-4 social">
    <a href="https://github.com/aleksgorbenko" title="Aleks Gorbenko Github Profile">
      <i class="social-button icon-code-fork"></i>
    </a>
    <a href="https://uk.linkedin.com/in/aleks-gorbenko-web-developer" title="Aleks Gorbenko LinkedIn Profile">
      <i class="social-button icon-linkedin"></i>
    </a>
    <a href="mailto:AleksEdGorbenko@gmail.com?subject=Hi Aleks, ..." title="Aleks Gorbenko Medium Profile">
      <i class="social-button icon-envelope"></i>
    </a>
    <a href="https://www.facebook.com/aleksandrgorbenko12" title="Aleks Gorbenko Facebook Profile">
      <i class="social-button icon-facebook"></i>
    </a>
  </div>
  <br>
  <div class="col-xs-12">
    <p class="text-center copyright">
      © 2016 Aleks Gorbenko. All rights reserved. Software Developer / SEO
    </p>
  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
  <script src="assets/javascripts/main.js"></script>
</footer>