
<section class="col-xs-12 testimonials">
  <div class="container">
    <h2 class="text-center">What People Are Saying About My Work</h2>
    <br>
    <div class="testimonials--quote">
      <p>
        Aleks is very motivated individual who knows what he wants to achieve.
      <br>
      <br>
        He demonstrated that he is capable of learning new skills quickly, and used them to create high-quality work. More often than not,
        Aleks went above and beyond what the course material asked him to do, and he was always finding extra material to read about the
        topics he was learning about.
      <br>
      <br>
        With the skills Aleks already has in SEO, and the newly acquired web development ones, I am confident Aleks would thrive in
        web development where he has the opportunity to learn from his peers.
      </p>
      <span>
        <a class="" href="https://uk.linkedin.com/in/joe-green">Joe Green</a> - Senior Software Developer, uSwitch
      </span>
    </div>
    <div class="testimonials--quote">
      <p>
        Aleks was the first person I got to know when I arrived to London and I must say that I am really impressed by his passion for programming
        and the knowledge that he has gathered in the last 6 months in this field.
      <br>
      <br>
        He has a ‘can-do’ mentality and he is an extremely fast learner. If you want something done he will put in blood, sweat and tears to make
        it happen.
      <br>
      <br>
        I am looking forward to working with Aleks on projects and launching our development podcast.
      </p>
      <span>
        <a class="" href="https://uk.linkedin.com/in/marcus-carlsson-0078a810a/en">Marcus Carlsson</a> - Full Stack Developer, i3
      </span>
    </div>
    <div class="testimonials--quote">
      <p>
        Aleks is a very hardworking and good person who was a strong member of our team.
      <br>
      <br>
        He is extremely technical but was able to easily describe what he was doing to none technical clients.
      <br>
      <br>
        I worked with Aleks closely and he is someone who could always be relied upon under pressure or in an emergency.
      <br>
      <br>
        He is a very friendly, affable and likeable person who got on well with every member of the team and his clients.
      </p>
      <span>
        <a class="" href="https://uk.linkedin.com/in/technicalseouk">Adam Vowles</a> - Head of SEO, SUSO Digital
      </span>
    </div>
  </div>

</section>
