.about-me {
  background-color: #EDEEEF;
  height: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.about-me p,
.other-projects p {
  text-align: justify;
}

.headline {
  font-style: italic;
  font-size: 25px;
  color: #555;
}

/* Picture and Factsheet */
.picture {
  height: 100%;
  margin-bottom: 50px;
  margin-top: 50px;
}

.picture img {
  border-radius: 50%;
  max-height: 400px;
  -moz-box-shadow: 1px 5px 40px rgba(0,0,0,.5);
  -webkit-box-shadow: 1px 5px 40px rgba(0,0,0,.5);
  box-shadow: 1px 5px 40px rgba(0,0,0,.5);
}

.picture li {
  margin-top: 20px;
}

.picture .life-quote {
  color: #444;
  font-size: 20px;
}
