.about-me {
  background-color: #EDEEEF;
  height: 100%;
  padding: 50px;
}

.headline {
  font-style: italic;
  font-size: 25px;
  color: #555;
}

/* Picture and Factsheet */

.picture {
  height: 100%;
  margin-bottom: 50px;
  margin-top: 50px;
}

.picture img {
  border-radius: 50%;
  max-height: 400px;
  -moz-box-shadow: 1px 5px 40px rgba(0,0,0,.5);
  -webkit-box-shadow: 1px 5px 40px rgba(0,0,0,.5);
  box-shadow: 1px 5px 40px rgba(0,0,0,.5);
}

.picture p {
  font-size: 18px;
}

.picture li {
  margin-top: 20px;
  font-size: 17px;
}

.picture .life-quote {
  color: #aaa;
  font-size: 19px;
}