/* CONTACT */
.contact-line {
  height: 200px;
  background-color: #353439;
}

.contact-line p {
  margin-top: 30px;
  font-style: italic;
  letter-spacing: 2px;
  color: #fff;
  font-size: 20px;
}

.contact-line .btn-default {
  margin-top: 30px;
}

/* FOOTER */
.footer {
  height: 100%;
  background-color: #26262A;
  color: #fff;
}

.bottom-logo {
  margin-top: 60px;
  margin-bottom: 30px;
}

.bottom-logo span {
  font-size: 40px;
  letter-spacing: 6px;
  padding-bottom: 10px;
}

.social {
  margin-bottom: 20px;
}

.social-button {
  font-size: 25px;
  margin: 15px;
  color: #666;
}

.social-button:hover {
  color: #eee;
}

.footer a:hover {
  border-bottom: none;
}

.copyright {
  color: rgba(255,255,255, .3);
  font-family: "Courier New", Courier, monospace;
  margin-bottom: 0;
  font-size: 14px;
  margin-bottom: 10px;
}
