$hero-height: 1000px;

@mixin vertical-align {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

@mixin btn-colors($color, $hover) {
  color: $color;
  border: 2px solid $color;
  &:hover {
    background-color: $color;
    color: $hover;
    border: 2px solid $color;
  }
}

@mixin animation($duration, $delay: 0) {
  -webkit-animation-duration: $duration;
  -moz-animation-duration: $duration;
  -o-animation-duration: $duration;
  animation-duration: $duration;
  -webkit-animation-delay: $delay;
  -moz-animation-delay: $delay;
  -o-animation-delay: $delay;
  animation-delay: $delay;

}

@media(max-width: 1124px) {
  .name {
    font-size: 60px;
  }
  .about-me .about-me-tagline {
    font-size: 20px;
  }
  .about-me .about-me-text {
    font-size: 15px;
  }
}
@media(max-width: 470px) {
  .name {
    font-size: 46px;
  }
}

/* GLOBAL */

h2, h3, h4, h5, h6, p, span, li {
  font-family: 'Droid Serif', serif
}

a {
  color: #999;
}

a:hover,
a:focus,
a:active {
  text-decoration: none;
}

li {
  list-style: none;
}



/* INTRO */

.name {
  font-family: 'anuratiregular', Helvetica;
  font-size: 100px;
  letter-spacing: 10px;
  color: #fff;
  vertical-align: middle;
  margin-top: 300px;
}
.name.animated.fadeIn {
  @include animation(5s);
}

.tagline {
  display: block;
  color: #fff;
  font-size: 20px;
  margin-top: 20px;
  font-style: italic;
  letter-spacing: 2px;
  .animated.fadeIn {
    @include animation(4s, 2s);
  }
}


.hero {
  height: $hero-height;
  background:
    linear-gradient(
      rgba(0,0,0, .4),
      rgba(0,0,0, .4)
    ),
    url('/images/moon.jpg') no-repeat center center scroll;
  background-size: cover;
}


.btn {
  border-radius: 0;
  background-color: transparent;
  margin: auto;
  margin-top: 80px;
  padding: 10px 15px;
  font-size: 30px;
  font-weight: 200;
  letter-spacing: 3px;
  transition: 0.2s background-color linear, 0.2s color linear;
}
.btn-default {
  @include btn-colors(#fff, #272727);
}

.btn-inversed {
  @include btn-colors(#272727, #fff);
  margin-top: 30px;
}

.btn-sm {
  font-size: 15px;
  border: 1px solid #272727;
  padding: 8px 10px;
}

.btn-sm:hover {
    border: 1px solid #272727;
  }



/* CONTACT */

.contact-line {
  height: 200px;
  background-color: #353439;
  color: #fff;
}

.contact-line p {
  font-size: 20px;
  margin-top: 30px;
}

.contact-line .btn-default {
  margin-top: 30px;
}






