$hero-height: 1300px;

@mixin btn-colors($color, $hover) {
  color: $color;
  border: 2px solid $color;
  &:hover {
    background-color: $color;
    color: $hover;
    border: 2px solid $color;
  }
}

@mixin animation($duration, $delay: 0) {
  -webkit-animation-duration: $duration;
  -moz-animation-duration: $duration;
  -o-animation-duration: $duration;
  animation-duration: $duration;
  -webkit-animation-delay: $delay;
  -moz-animation-delay: $delay;
  -o-animation-delay: $delay;
  animation-delay: $delay;

}

/* GLOBAL */

h2, h3, h4, h5, h6, p, span, li {
  font-family: 'Droid Serif', serif
}

a:hover,
a:focus,
a:active {
  text-decoration: none;
}

a {
  color: #444;
}

a:hover {
  color: #bbb;
  border-bottom: 3px solid #bbb;
  cursor: pointer;
  transition-duration: .1s;
}

li {
  list-style: none;
}

ul {
  padding: 0;
}

body {
  font-size: 17px;
  color: #828282;
}

/* INTRO */

.name {
  font-family: 'anuratiregular', Helvetica;
  font-size: 100px;
  letter-spacing: 10px;
  color: #fff;
  margin-top: 300px;
}
.name.animated.fadeIn {
  @include animation(5s);
}

.name.animated.fadeIn {
  -webkit-animation-duration: 5.0s;
  -moz-animation-duration: 5.0s;
  -o-animation-duration: 5.0s;
  animation-duration: 5.0s;
}

.tagline {
  color: #fff;
  font-size: 20px;
  margin-top: 20px;
  font-style: italic;
  letter-spacing: 2px;
  .animated.fadeIn {
    @include animation(4s, 2s);
  }
}

.hero {
  height: $hero-height;
  background:
    linear-gradient(
      rgba(0,0,0, .4),
      rgba(0,0,0, .4)
    ),
    url('/images/moon.jpg') no-repeat center center scroll;
  background-size: cover;
}

.btn {
  border-radius: 0;
  background-color: transparent;
  margin-top: 80px;
  padding: 10px 15px;
  font-size: 30px;
  font-weight: 200;
  letter-spacing: 3px;
  transition: 0.2s background-color linear, 0.2s color linear;
}

.btn-default {
  @include btn-colors(#fff, #575757);
}

.btn-inversed {
  @include btn-colors(#575757, #fff);
  margin-top: 30px;
}

.btn-sm {
  font-size: 15px;
  border: 1px solid #575757;
  padding: 8px 10px;
}

.btn-sm:hover {
    border-width: 1px;
  }

@media(max-width: 1124px) {
  .name {
    font-size: 60px;
  }
  .about-me h2 {
    font-size: 20px;
    line-height: 30px;
  }
  .about-me p {
    font-size: 17px;
  }
}

@media(max-width: 470px) {
  .name {
    font-size: 46px;
  }
  .contact-line p {
    font-size: 17px;
  }
}