/* GLOBAL */

h2, h3, h4, h5, h6, p, span, li {
  font-family: 'Droid Serif', serif
}

a:hover,
a:focus,
a:active {
  text-decoration: none;
}

a {
  color: #444;
}

a:hover {
  color: #bbb;
  border-bottom: 3px solid #bbb;
  cursor: pointer;
  transition-duration: .1s;
}

li {
  list-style: none;
}

ul {
  padding: 0;
}

body {
  font-size: 18px;
  color: #828282;
}

::selection {
  background: #777;
  color: #eee;
}

/* INTRO */
.hero {
  height: $hero-height;
  background:
    linear-gradient(
      rgba(0,0,0, .4),
      rgba(0,0,0, .4)
    ),
    url('/assets/images/moon.jpg') no-repeat center center scroll;
  background-size: cover;
}

.name {
  font-family: 'anuratiregular', Helvetica;
  font-size: 100px;
  letter-spacing: 10px;
  color: #fff;
  margin-top: 300px;
}

.tagline {
  color: #fff;
  font-size: 20px;
  margin-top: 20px;
  font-style: italic;
  letter-spacing: 2px;
}

/* BUTTONS */

.btn {
  border-radius: 0;
  background-color: transparent;
  margin-top: 80px;
  padding: 10px 15px;
  font-size: 30px;
  font-weight: 200;
  letter-spacing: 3px;
  transition: 0.2s background-color linear, 0.2s color linear;
}

.btn-default {
  @include btn-colors(#fff, #575757);
}

.btn-inversed {
  @include btn-colors(#575757, #fff);
  margin-top: 30px;
}

.btn-sm {
  font-size: 15px;
  border: 1px solid #575757;
  padding: 8px 10px;
}

.btn-sm:hover {
    border-width: 1px;
  }
