#links a {
  padding: 10px 10px;
  font-size: 14px;
  letter-spacing: 4px;
  font-weight: 400;
  color: rgba(255,255,255, .6);
}

#links a:hover {
  color: rgba(255,255,255, .9);
  transition-duration: .1s;
}

.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}

/*.navbar.navbar-transparent li { color: #000 }*/

/* overriding defualt Bootstrap styles */

.navbar-header,
.navbar .navbar-collapse {
  text-align: center;
}

.navbar.navbar-default {
   background-color: transparent;
   background: transparent;
   border-color: transparent;
}

.navbar {
transition-duration: 0.5s;
}

button.collapsed {
  border-radius: 0;
  color: #fff;
  cursor: s-resize;
}

.navbar-toggle {
  float: none;
  border-radius: 0;
  cursor: n-resize;
  margin: 8px 0;
}

.navbar-collapse {
  border: 0;
  box-shadow: none;
}
