.portfolio {
  height: 100%;
  background-color: #EDEEEF;
}

.project {
  margin-bottom: 50px;
}

.other-projects h2 {
  margin-top: 50px;
  color: #555;
}

.other-projects {
  margin-top: 40px;
  margin-bottom: 40px;
  font-size: 18px;
}

.portfolio .headline {
  font-style: normal;
  font-size: 18px;
}

#resume a:hover {
  background-color: #222;
  border-color: #222;
}

/* making the smooth scroll compensation */

#portfolio:before {
  display: block;
  content: " ";
  margin-top: -70px;
  height: 70px;
  visibility: hidden;
}

#resume {
  display: block;
  margin-top: -95px;
  height: 95px;
  visibility: hidden;
}

