.portfolio {
  height: 100%;
  background-color: #EDEEEF;
  padding-bottom: 20px;
}

.project {
  margin-bottom: 50px;
}

.other-projects {
  margin-top: 40px;
  margin-bottom: 40px;
}

.other-projects h2,
.testimonials h2 {
  margin-top: 50px;
  color: #555;
}

.other-projects ul {
  list-style: disk outside;
}

.other-projects li {
  list-style-type: circle;
  list-style-position: inside;
  text-align: justify;
  text-indent: -2em;
  margin-left: 2em;
}

.portfolio .headline {
  font-style: normal;
}

#resume a:hover {
  background-color: #222;
  border-color: #222;
}

/* making the smooth scroll compensation */
#portfolio:before {
  display: block;
  content: " ";
  margin-top: -70px;
  height: 70px;
  visibility: hidden;
}

#resume {
  display: block;
  margin-top: -95px;
  height: 95px;
  visibility: hidden;
}

