
.testimonials p {
  text-align: justify;
  color: #eee;
}

.testimonials--quote {
  margin-bottom: 50px;
  border: 1px solid #555;
  background-color: #353439;
  padding: 25px;
  border-radius: 3px;
  -moz-box-shadow: 1px 5px 40px rgba(0,0,0,.5);
  -webkit-box-shadow: 1px 5px 40px rgba(0,0,0,.5);
  box-shadow: 1px 5px 40px rgba(0,0,0,.5);
}

.testimonials--quote span {
  font-size: 18px;
  font-style: italic;
  float: right;

}