$hero-height: 1300px;

@mixin btn-colors($color, $hover) {
  color: $color;
  border: 2px solid $color;
  &:hover {
    background-color: $color;
    color: $hover;
    border: 2px solid $color;
  }
}

@mixin animation($duration, $delay: 0) {
  -webkit-animation-duration: $duration;
  -moz-animation-duration: $duration;
  -o-animation-duration: $duration;
  animation-duration: $duration;
  -webkit-animation-delay: $delay;
  -moz-animation-delay: $delay;
  -o-animation-delay: $delay;
  animation-delay: $delay;
}

a.animated.tada {
  @include animation(1s);
}

a.animated.flash {
  @include animation(2s);
}

.name.animated.fadeIn {
  @include animation(4s);
}

.tagline.animated.fadeIn {
  @include animation(2s, 1s);
}

a.animated.fadeIn {
  @include animation(2s, 2s);
}
